@using Thinktecture.IdentityServer.Web.App_LocalResources.InitialConfiguration
@model Thinktecture.IdentityServer.Web.ViewModels.InitialConfigurationModel

@{
    ViewBag.Title = Index_cshtml.InitialConfiguration;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "An Error Occurred", new{@class="alert alert-error"})

    <div class="row">
        <div class="span6">
            <fieldset class="editor">
                <legend>@Index_cshtml.Settings</legend>

                <div>
                    @Html.LabelFor(model => model.SiteName)
                    @Html.EditorFor(model => model.SiteName)
                    @Html.ValidationMessageFor(model => model.SiteName)
                </div>

                <div>
                    @Html.LabelFor(model => model.IssuerUri)
                    @Html.TextBoxFor(model=>model.IssuerUri, new{@class="span6"})
                    @Html.ValidationMessageFor(model => model.IssuerUri)
                </div>

                <div>
                    @Html.LabelFor(model => model.SigningCertificate)
                    @Html.DropDownList("SigningCertificate", Model.AvailableCertificatesList)
                </div>
            </fieldset>
        </div>
        <div class="span6">
            <fieldset class="editor">
                <legend>@Index_cshtml.DefaultAccounts</legend>
                <div>
                    <label class="checkbox">
                        <input class="checkbox" data-val="true" data-val-required="The Create default roles and admin account? field is required." id="CreateDefaultAccounts" name="CreateDefaultAccounts" type="checkbox" value="true" data-original-title="" title="" />
                        Create default roles and admin account?
                    </label>
                </div>

                <div>
                    @Html.LabelFor(model => model.UserName)
                    @Html.EditorFor(model => model.UserName)
                </div>

                <div>
                    @Html.LabelFor(model => model.Password)
                    @Html.EditorFor(model => model.Password)
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="form-actions">
                <input type="submit" value="@Index_cshtml.Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}