<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/bundles/css/site")
    @RenderSection("styles", false)
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="navbar">
                    <div class="navbar-inner">
                        @Html.Partial("_Banner")
                        @if (ViewBag.HideMenu != true)
                        {
                            @Html.Partial("_Menu")
                        }
                    </div>
                </div>
                
                <section id="main-section">
                    @RenderBody()
                </section>
            </div>
        </div>
        <footer class="row">
            <div class="span12">
                <img src="@Url.Content("~/Content/images/logo.jpg")" width="100" alt="thinktecture Identity Server" />
            </div>
        </footer>
    </div>
    

    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", false)
</body>
</html>
