@using Thinktecture.IdentityServer.Web.App_LocalResources.Shared

<ul class="nav">
    @if (ViewBag.IsAdministrator)
    {
        <li>@Html.ActionLink(_Menu_cshtml.Administration, "index", "home", new{area="Admin"}, null)</li>
    }
    @if (ViewBag.IsSignedIn)
    {
        <li>@Html.ActionLink(_Menu_cshtml.Home, "index", "home", new{area=""}, null)</li>
        <li>@Html.ActionLink(_Menu_cshtml.SignOut, "signout", "account", new{area=""}, null)</li>
    }
    else
    {
        <li>@Html.ActionLink(_Menu_cshtml.Home, "index", "home", new{area=""}, null)</li>
        <li>@Html.ActionLink(_Menu_cshtml.SignIn, "signin", "account", new{area=""}, null)</li>
    }
</ul>